body {
    background-image: url("../images/burger_bg.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Helvetica;
}

h1 {
	font-family: Helvetica;
	font-weight: bolder;
	color: #ffffff;
    text-align: center;
    font-size: 100px;
	text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

h2 {
    font-family: Helvetica;
    font-weight: bolder;
    color: green;
    text-align: center;
    font-size: 55px;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

p {
    color: white;
}

.panel {
    opacity: .7;
    padding: 1%;
    margin-top: 2%;
}

.panel-body {
    background-color: black;
    opacity: .7;
    color: grey;
    font-size: 16px;
}

.btn-sm {
	outline-color: black;
}

#eat-burgers {
	text-align: center;
}

#burgers-eaten {
	text-align: center;
}

.form-control {
	width: 40%;
}